@font-face {
  font-family: 'pacifico';
  src: url(./assets/font/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: 'faustina';
  src: url(./assets/font/Faustina/Faustina-VariableFont_wght.ttf);
}
.question {
  width: 80vw;
  height: auto;
  margin: 20vh auto 0 auto;
  text-align: center;
  color: white;
  border: 1px solid black;
  background-color: pink;
  padding: 10px;
  border-radius: 20px;
  font-family: 'pacifico', sans-serif;
}
h1 {
  font-size: 3.5vh;
}
.question p {
  margin: 10px;
  font-family: 'faustina', sans-serif;
  font-size: 2vh;
}
.btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 2vh;
  height: 5vh;
}
button {
  font-size: 3.5vh;
}
button {
  border-radius: 20px;
  background-color: rgb(255, 180, 218);
  font-size: 100%;
  box-shadow: 0 2px 2px gray;
  font-family: 'faustina', sans-serif;
}
button:hover {
  background-color: hotpink;
  color: white;
  transition: all 0.1s;
}
.cute {
  margin: 6vh auto;
  width: 55vw;
  animation: cute1 1s linear infinite;
}
@keyframes cute1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.decor {
  width: 60vw;
  height: auto;
  margin: 20vh auto 0 auto;
}
@media (min-width: 768px) {
  .question {
    width: 30vw;
  }
  .btn {
    gap: 4vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  button{
    font-size: 2vh;
  }
  .cute {
    margin: 10vh auto;
    width: 15vw;
    height: auto;
  }
  img {
    width: 100%;
  }
}