form {
    width: 80vw;
    height: auto;
    margin: 30vh auto 0 auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    background-color: pink;
    animation: intro 0.8s ease-in;;
}
label {
    display: block;
    margin: 2vh;
    font-family: 'pacifico', sans-serif;
    font-size: 3vh;
}
input {
    width: 60%;
    height: 4vh;
    font-size: 2vh;
    margin-bottom: 2vh;
    font-family: 'faustina', sans-serif;
    border-radius: 12px;
    border: 1px solid gray;
    padding: 5px 20% 5px 20%;
}
@media  (min-width: 768px) {
    form {
        width: 40vw;
        border-radius: 100px;
    }
    input {
        width: 30%;
        font-size: 2.5vh;
        padding: 5px 10% 5px 10%;
    }
}